:root {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--surface-ground);
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: var(--primary-600);
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 600;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
  line-height: 1.3;
  font-weight: 600;
}

#app {
  width: 100%;
  min-height: 100vh;
}

